html
    .slick-prev:before, .slick-next:before
        color: $blue
        background: $white
        border-radius: 50%
        width: 100%
        height: 100%
        font: normal normal normal 27px/1 "Material Design Icons"
        opacity: 1

    .slick-prev, .slick-next
        width: 27px
        height: 27px

.product-slider
    width: 100%
    display: block
    clear: both

    .artangebote_outer_frame
        width: calc(100% - 15px)

    .slick-slider, .slick-slider-wrapper
        width: 100%


